

<body>
	<!-- Header -->
	<%- include('./partials/header')  %>
	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
<form action="./register.ejs">

	<div>
		<label for="email">Email:</label>
		<input type="email" name="tuEmail" id="email" placeholder="ejemplo@gmail.com">
	</div>
	<div>
		<label for="usuario">Usuario:</label>
		<input type="text" name="nUsuario" id="usuario">
	</div>
	<div>
		<label for="contra">Contraseña:</label>
		<input type="password" name="Contra" id="contra">
	</div>
	<div>
		<label for="nacimiento">Fecha de nacimiento:</label>
		<input type="date" name="fechaN" id="nacimiento">
	</div>
	<div>
		<label for="doc">Numero de documento:</label>
		<input type="number" name="numeroD" id="doc">
	</div>
	<div>
		<label for="foto">Foto de perfil:</label>
		<input type="text" name="perfil" id="foto">
	</div>

</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- footer -->

</html>